.card {
    display: flex;
    width: 90%;
    justify-content: space-around;
    height: max(10%, 80px);
    border-radius: 10px;
    background-color: var(--small-card-color);
    border: 1px solid var(--accent-color)
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-right: 25px;
    border-radius: 31px;
    border-style: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    text-align: left;
    height: 130px;
}

.collection {
    scale: 55%;
    position:relative;
    left: -15px;
}

.buttondiv {
    display:  flex;
    flex-direction: column;
    justify-content: center;
}

.weapon {
    margin-left: 10px;
    scale: 75%;
}

.title {
    margin: 20px 0 5px 60px;
}